.jumbotron{
    background-color: #003049;
    color:#f0efeb;
}


.display-4 {
  text-align: center;
}

.lead{
    text-align: center;
}

.tab_area{
  margin-top: 50px;
}

.controls{
  margin-top: 25px;
  margin-bottom: 35px;
}

.oi-plus{
  font-size: 15px;
  padding-left: 5px;
 
}

textarea{
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
  width: 100%;
  background-color: #161a1d;
  color:#e0fbfc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}